<%- include('partials/header') %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Election System For Club</h1>
        <p class="lead">Welcome! To get started click on Elections. If you are looking to vote in an election, find the election you
        would like to vote and and text this format, @[CODE] to (248) 965-4848. If you are looking to create an election for a club click the Create button found on the 
        Elections page!</p>
      </div>
    </div>    
<%- include('partials/footer') %>